#titulo {
    position: absolute;
    left: 1376px; 
    top: 475px;
    height: 30px;
    width: 180px;
    color: rgb(255, 255, 255); /* Cor do preenchimento da letra */
    background: linear-gradient(45deg, #ffffff, #ffffff);
    font-family: Montserrat, "Montserrat Subrayada", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    border-radius: 5px;
    

    /* Adicione estas linhas para o contorno */
    -webkit-text-stroke-width: 1px; /* Espessura da linha */
    -webkit-text-stroke-color: rgb(0, 0, 0); /* Cor da linha (mude para a cor que desejar) */
}


#yan{
    background-color: #005281;
    
}
#Senai{
    position: absolute;
    width: 400px; height: 400px;
    left: 1282px; top: 67px;
}
#botao{
    position: absolute;
    left: 1340px; top: 700px;
    border-radius: 5px;
    width: 123px;
    height: 50px;
    background-color: rgb(255, 255, 255);
}
#email{
position: relative;
    left: 1335px; top: 560px;
    border-radius: 10px;
    height: 34px; 
}
#senha{
     position: relative;
    left: 1106px; top: 620px;
    border-radius: 10px;
    height: 34px;
}
#email1{
    position: relative;
    color: white;
    left: 1365px; top: 500px;
    height: 34px;
    width: 200px;

}
#roger{
    position: absolute;
    height: 1080px; width: 1075px;
    left: 1px;;
    
}



    
